{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<header class="jumbotron">
    <div class="container">
        <div  class="row row-header">
            <div class="col-12 col-sm-6">
                <h1>Organize Your Jobs!</h1>
                <p>This application helps you to arrange and classify your jobs. Also, you can use workspaces as a team. <b>Enjoy being organized!</b> </p>
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>
<div class="container">

    <h1 class="mb-5">Your Workspaces</h1>

    <div class="workspace-card">
        <h3> School </h3>
        <div class="list-group">
            <a href="{{ url_for('workspace_page') }}" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center">
                BLG-317E HW-1
                <span class="badge badge-success badge-pill">29/12/2020</span>
            </a>
            <a href="{{ url_for('workspace_page') }}" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center">
                ATA-1 Quiz
                <span class="badge badge-danger badge-pill">31/12/2020</span>
            </a>
        </div>
    </div>

    <div class="workspace-card">
        <h3> Mobile Project </h3>
        <div class="list-group">
            <a href="{{ url_for('workspace_page') }}" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center">
                Slider Component
                <span class="badge badge-danger badge-pill">12/01/2021</span>
            </a>
            <a href="{{ url_for('workspace_page') }}" class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center">
                List Products
                <span class="badge badge-danger badge-pill">15/01/2021</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}