{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<header class="jumbotron">
    <div class="container">
        <div  class="row row-header">
            <div class="col-12 col-sm-6">
                <h1>Welcome {{user.name}}</h1>
                <p>This application helps you to arrange and classify your jobs. Also, you can use workspaces as a team. <b>Enjoy being organized!</b> </p>
                
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>
<div class="container">

    <div class="row align-items-center mb-3">
        <div class="col-md-8">
            <h1>Your Workspaces</h1>
        </div>
        <div class="col-md-4 text-right add-workspace">
            <div class="dropdown">
                <button id="dLabel" type="button" class="btn add-workspace-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Add a new workspace!<i class="fas fa-plus ml-2"></i></b>
                </button>
                <form class="dropdown-menu p-4" action="{{ request.path }}" method="post" name="home">
                    {{ form.csrf_token }}
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Title :</label>
                        <div class="col-sm-8">
                            {{ form.title( autofocus=True,
                                class='input is-large form-control',
                                placeholder='Title', minlength='2', maxlength='512') }}
                            {% with errors = get_flashed_messages(category_filter=["title"]) %}
                            {% if errors %}
                            {% for error in errors %}
                                <p class="error-message">
                                    {{ error }}
                                </p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Description:</label>
                        <div class="col-sm-8">
                            <textarea id="description" name="description" autofocus="True" class="input is-large form-control" placeholder="Description" rows="2" minlength="2" maxlength="512" required></textarea>
                            {% with errors = get_flashed_messages(category_filter=["description"]) %}
                            {% if errors %}
                            {% for error in errors %}
                                <p class="error-message">
                                    {{ error }}
                                </p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Color :</label>
                        <div class="col-sm-8">
                            <div class="color-container">
                                <input id="color" name="color" type="text" value="#000000" minlength="7" maxlength="7" hidden/>
                                <div id="colorpicker" name="colorpicker" class="color-picker display-inline"></div>
                                <div class="middle-hex  display-inline">HEX <span>#000000</span></div>
                            </div>
                            {% with errors = get_flashed_messages(category_filter=["color"]) %}
                            {% if errors %}
                            {% for error in errors %}
                                <p class="error-message">
                                    {{ error }}
                                </p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Order :</label>
                        <div class="col-sm-8">
                            <input id="order" name="order" autofocus="True" type="number" class="input is-large form-control" placeholder="Order" min="1" required/>
                            {% with errors = get_flashed_messages(category_filter=["order"]) %}
                            {% if errors %}
                            {% for error in errors %}
                                <p class="error-message">
                                    {{ error }}
                                </p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
              </div>
        </div>
    </div>

    {% for ws in data %}
        <div class="workspace-card" style=" color: white !important; background-color: {{ws[0][3]}};">
            <a href="{{ url_for('workspace_page', wsId=ws[0][0], title=ws[0][2] ) }}" style=" color: white !important" ><h3> {{ ws[0][2]}} </h3></a>
            <p style="font-size: 18px">
                {{ws[0][4]}}
            </p>
            <span style="font-size: 14px">Total Number of Users: {{ws[0][6]}}</span>
            <br>
            <span style="font-size: 14px">Total Number of Tasks: {{ws[0][7]}}</span>
            <span onclick="fillModal('{{ ws[0][0] }}', '{{ ws[0][1] }}', '{{ ws[0][2] }}', '{{ ws[0][3] }}' , '{{ ws[0][4] }}' , '{{ ws[0][5] }}')" class="ws-edit" data-toggle="modal" data-target="#wsEditModal"> <i class="fas fa-pen"></i></span>
        </div>
    {% endfor %}
    <div class="modal fade" id="wsEditModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <form class="p-4" id="editWorkspaceForm">
                    <div class="modal-body">
                    <div class="form-group row">
                        <input type="number" id="wsId" name="taskId" class="form-control" value="0" hidden />
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Title :</label>
                        <div class="col-sm-8">
                            <input type="text" id="edit_title" autofocus="True" class="input is-large form-control" minlength="2" maxlength="256" placeholder="Title" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Description:</label>
                        <div class="col-sm-8">
                            <textarea id="edit_description" name="description" autofocus="True" class="input is-large form-control" placeholder="Description" rows="2" minlength="2" maxlength="512" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Color :</label>
                        <div class="col-sm-8">
                            <div class="color-container">
                                <input id="edit_color" name="color" type="text" value="#000000" minlength="7" maxlength="7" hidden/>
                                <div id="edit_colorpicker" name="colorpicker" class="color-picker display-inline"></div>
                                <div class="middle-hex  display-inline" id="edit_hex">HEX <span>#000000</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Order :</label>
                        <div class="col-sm-8">
                            <input id="edit_order" name="order" autofocus="True" type="number" class="input is-large form-control" placeholder="Order" required min="1"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" id="deleteWorkspace" class="btn btn-danger">Delete Workspace</button>
                      <button id="editWorkspaceButton" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
</div>

{% endblock %}
{% block script%}<script src="/static/js/home.js"></script>{% endblock%}