{% extends "layout.html" %}
{% block title %}Workspace{% endblock %}
{% block content %}

<div class="container">
    <h1 class="mt-3"> School </h1>
    <div class="container horizontal-scrollable "> 
        <div class="row text-center custom-scrollbar-js custom-scrollbar-css p-2">
            <div class="col-md-4 ws-list">
                <div class="text-center list-title">
                    <h5>List Title</h5>
                </div>
                <div class="task-list">
                    <div class="task">
                        Task-1
                    </div>
                    <div class="task">
                        Task-2
                    </div>
                    <div class="task">
                        Task-3
                    </div>
                    <div class="task">
                        Task-4
                    </div>
                </div>
            </div>
            <div class="col-md-4 ws-list">
                <div class="text-center list-title">
                    <h5>List Title</h5>
                </div>
                <div class="task-list">
                    <div class="task">
                        Task-1
                    </div>
                </div>
            </div>
            <div class="col-md-4 ws-list">
                <div class="text-center list-title">
                    <h5>List Title</h5>
                </div>
                <div class="task-list">
                    <div class="task">
                        Task-1
                    </div>
                </div>
            </div>
            <div class="col-md-4 ws-list">
                <div class="text-center list-title">
                    <h5>List Title</h5>
                </div>
                <div class="task-list">
                    <div class="task">
                        Task-1
                    </div>
                </div>
            </div>
            <div class="col-md-4 ws-list">
                <div class="text-center list-title">
                    <h5>List Title</h5>
                </div>
                <div class="task-list">
                    <div class="task">
                        Task-1
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 ws-list">
                <div class="text-center list-title">
                    <h5>List Title</h5>
                </div>
                <div class="task-list">
                    <div class="task">
                        Task-1
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 ws-list">
                <div class="text-center list-title">
                    <h5>List Title</h5>
                </div>
                <div class="task-list">
                    <div class="task">
                        Task-1
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 ws-list">
                <div class="text-center list-title">
                    <h5>List Title</h5>
                </div>
                <div class="task-list">
                    <div class="task">
                        Task-1
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<p><input type=text size=5 name=a> +
        <input type=text size=5 name=b> =
        <span id=result>?</span>
    <p><a href=# id=calculate>calculate server side</a>-->
</div>
    

{% endblock %}
{% block script%}<script src="/static/js/workspace.js"></script>{% endblock%}